:root{
    --dark_gray: rgb(33, 37, 41);
    --light_gray: rgb(52, 58, 64);
    --white: rgb(248, 249, 250);
    --pink: rgb(220, 53, 69);
}

* {
    box-sizing: border-box;
  }

body {
    background-color: var(--dark_gray);
    color: var(--white)
}

h2 {
    color: var(--white);
    background-color: var(--light_gray);
    padding: 3px;
    padding-left: 10px;
}

table.cources{
    border-collapse: collapse;
}

table.cources tr:first-child{
    text-align: center;
    font-weight: bold;
}

table.cources thead{
    background-color: var(--white);
    border: 1px solid var(--dark_gray);
    color: var(--dark_gray)
}

.my_button {
    background-color: var(--pink);
    color: var(--white);
    padding: 6px;
    border-radius: 4px;
}

input {
    background-color: var(--light_gray);
    border: 2px solid var(--pink);
    border-radius: 4px;
}

.main {  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.left {
    flex: 30%;
    background-color: var(--light_gray);
}

.right {
    flex: 70%;
}

.bottom {
    flex-direction: row;
}

@media screen and (max-width: 700px) {
    .main .bottom{   
      flex-direction: column;
    }
}

footer {
    background-color: var(--white);
    text-align: center;
    color: var(--dark_gray)
}